code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none !important;
  /* to overlap react-boostrap properties */
  color: white !important;
}
.home {
  display: flex;
  margin-top: 5rem;
}
.productContainer {
  display: flex;
  width: 78%;
  padding: 25px;
  flex-wrap: wrap;
}
.filters {
  background-color: rgb(107, 128, 103);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
  border-radius: 5px;
}
.filters span {
  padding-bottom: 30px;
}
.title {
  font-size: 25px;
}
.products {
  width: 30%;
  margin: 10px;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cartItemDetail {
  display: flex;
  flex-direction: column;
  margin: 0 15px 0 15px;
}
.summary {
  width: 30%;
}
.t {
  margin-top: 2rem;
}
.c {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
@media (min-width: 650px) {
  .cartN {
    display: none;
  }
}
@media (max-width: 650px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 10px;
  }
  .filters > span {
    font-size: 13px;
  }
  .title {
    font-size: 18px !important;
  }
  .productContainer {
    width: 58%;
    padding: 0;
  }
  .search {
    display: none !important;
  }
  .products {
    width: 100%;
  }
}
